.menu-page {
  width: 100%;
  min-height: 100%;

  padding: 12px;
  margin: 0;

  box-sizing: border-box;

  background:
    radial-gradient(
      circle at 0% 0%,
      rgba(123, 74, 106, 0.18) 0px,
      transparent 300px
    ),
    radial-gradient(
      circle at 100% 100%,
      rgba(30, 136, 229, 0.18) 0px,
      transparent 350px
    ),
    linear-gradient(
      135deg,
      #f8fafc 0%,
      #eef2f7 40%,
      #f5f7fa 100%
    );

  position: relative;
}

.menu-header {
  text-align: center;
  margin-bottom: 10px;
}

/* Texto pequeño arriba */
.menu-subtitle {
  display: block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6b7a90;
}

/* Título principal */
.menu-title {
  font-size: 36px;
  font-weight: 800;
  color: #1f2d3d;
  margin: 0;
}

/* Línea decorativa */
.menu-underline {
  width: 40px;
  height: 4px;
  background: #1e88e5;
  border-radius: 4px;
  margin: 10px auto 0;
}

.menu-image-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.menu-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/* GRID */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 📱 móvil */
  gap: 12px;
  padding: 4px;
  justify-items: center;
  box-sizing: border-box;
}

/* 📲 Tablet */
@media (min-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
  }
    .menu-image {
  width: 30%;
}
}

/* 🖥️ Desktop */
@media (min-width: 1024px) {
  .menu-page {
    padding-left: 100px;
    padding-right: 100px;
  }

  .menu-image {
  width: 30%;
}
  .menu-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, max-content);
}
}
 